<% include partials/header %>

  <div id="main" class="container">
    <div class="row" style="margin-bottom:15px;">
      <h1>Groops</h1>
    </div>

    <div class="row">
      <img src="<%= user.gravatarUrl %>" class="grp-gravatar">
      <div style="margin-left: 120px;">
        <p><strong><%= user.name %></strong></p>
        <p><%= user.email %></p>
        <p>@<%= user.twitter %></p>
      </div>
    </div>

    <div class="row" style="padding-top:25px;">
      <button class="btn btn-primary">Create a Room</button>

      <h3>Join a Room</h3>
      <ul>
        <% for (var i=0; i<rooms.length; i++) { %>
          <li><a href="./room/<%= rooms[i].id %>"><%= rooms[i].name %></a></li>
        <% } %>
      </ul>
    </div>
  </div>

<% include partials/footer %>
