<% include partials/header %>

  <div id="main" class="container">
    <div class="row" style="margin-bottom:15px;">
      <h1>Groops</h1>
    </div>

    <div class="row">
      <img src="<%= user.gravatarUrl %>" class="grp-gravatar">
      <div style="margin-left: 120px;">
        <p><strong><%= user.name %></strong></p>
        <p><%= user.email %></p>
        <% if (user.twitter) { %>
          <p><a href="https://twitter.com/<%= user.twitter %>" target="blank">@<%= user.twitter %></a></p>
        <% } %>
      </div>
    </div>

    <div class="row" style="padding-top:25px;">
      <div class="col-md-6" style="padding:0;">
        <form role="form" action="room" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="room_name" placeholder="Room Name" required>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Create Room</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <h3>Available Rooms</h3>
      <% if (rooms.length > 0) { %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <td width="100%">Room</td>
              <td class="centered">Members</td>
              <td class="centered">Join</td>
            </tr>
          </thead>
          <tbody>
          <% for (var i=0; i < rooms.length; i++) { %>
            <tr>
              <td width="100%"><%= rooms[i].name %></td>
              <td class="centered"><%= rooms[i].users %></td>
              <td class="centered"><a href="./room/<%= rooms[i].id %>" class="btn btn-primary btn-sm">Join</a></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      <% } else { %>
        <p><em class="text-muted">No rooms available right now</em></p>
      <% } %>
    </div>
  </div>

<% include partials/footer %>
